<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="icon" type="image/png" th:href="@{/icon.png}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>ShopLite</title>
</head>
<body>
<div class="container">
  <h3>Product Update Form</h3>
  <hr>
  <p class="h4 mb-4">Update Product</p>
  <form action="#" th:action="@{/shoplite/user/product/(userid=${userid})}"
        th:object="${product}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4" placeholder="Product Name">
    <input type="number" th:field="*{price}"
           class="form-control mb-4 col-4" placeholder="Price">
    <input type="text" th:field="*{description}"
           class="form-control mb-4 col-4" placeholder="Description">
    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
  <hr>
</div>
</body>
</html>